services:
  redis:
    image: redis:7-alpine
    container_name: seatly-redis
    restart: unless-stopped
    command: redis-server --requirepass ${REDIS_PASSWORD:-} --port 6379
    volumes:
      - redis-data:/data
    ports:
      - '6379:6379'
    networks:
      - app-network
    healthcheck:
      test:
        [
          'CMD',
          'redis-cli',
          '--no-auth-warning',
          '-a',
          '${REDIS_PASSWORD:-}',
          'ping',
        ]
      interval: 10s
      timeout: 3s
      retries: 3

  api:
    build: .
    container_name: seatly-api
    restart: unless-stopped
    env_file: .env
    ports:
      - '3000:3000'
    depends_on:
      redis:
        condition: service_healthy
    networks:
      - app-network

volumes:
  redis-data:

networks:
  app-network:
    external: true
